@import "src/components/common/styles/base/variables";

.container {
  width: 100%;
  max-width: $screen-xl;
  margin-right: auto;
  margin-left: auto;
  padding: 0 30px;

  @media screen and (max-width: $screen-sm) {
    padding: 0 15px;
  }
}
