@import "src/components/common/styles/base/variables";

.link {
  position: relative;

  color: $link-color;
  text-decoration: none;

  &:focus {
    outline: 0;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $link-color;
    opacity: 0;

    transition: opacity 0.3s, bottom 0.3s;
  }

  @media (hover: hover) {
    &:hover::after,
    &:focus::after {
      bottom: -2px;

      opacity: 1;
    }

    &:active {
      color: $link-color-active;

      &::after {
        background-color: $link-color-active;
      }
    }
  }
}
