@import "src/components/common/styles/base/variables";
$link-color: $white;
$link-active-color: $gray-darker;

.navList {
  display: flex;
  margin: 0;
  padding-left: 0;

  list-style-type: none;
}

.navItem {
  padding: 5px 10px;
}

.navLink {
  composes: link from "../common/LinkNative/LinkNative.module.scss";

  font-weight: 700;
  color: $link-color;
  text-transform: uppercase;

  &::after {
    background-color: $link-color;
  }

  &Active {
    &::after {
      bottom: -2px;

      opacity: 1;
    }
  }
}
